body{
color: white;
background: rgb(50, 191, 247);
}
.heading{
width: 80%;
font-size: 22px;
}
#camera{
border: 2px dashed black;
width: 50px;
height: 100px;}
.name_of_objects, #result_object_name #result_object_accuracy
{
color: yellow;
}